
/StudentControlWebApp/bin/Debug
/StudentControlWebApp/obj
/StudentControlWebApp/bin
StudentControlWebApp/StudentControl.session.sql
StudentControlWebApp/obj/StudentControlWebApp.csproj.nuget.g.targets
