
/StudentControlWebApp/bin/Debug
/StudentControlWebApp/obj
/StudentControlWebApp/bin
/StudentControlWebApp/obj
StudentControlWebApp/bin/Debug/net8.0/StudentControlWebApp.dll
StudentControlWebApp/bin/Debug/net8.0/StudentControlWebApp.pdb
StudentControlWebApp/bin/Debug/net8.0/StudentControlWebApp.staticwebassets.runtime.json
StudentControlWebApp/obj/Debug/net8.0/project.razor.vscode.bin
StudentControlWebApp/obj/Debug/net8.0/ref/StudentControlWebApp.dll
StudentControlWebApp/obj/Debug/net8.0/refint/StudentControlWebApp.dll
StudentControlWebApp/obj/Debug/net8.0/staticwebassets.build.json
StudentControlWebApp/obj/Debug/net8.0/staticwebassets.development.json
StudentControlWebApp/obj/Debug/net8.0/staticwebassets.pack.json
StudentControlWebApp/obj/Debug/net8.0/staticwebassets/msbuild.StudentControlWebApp.Microsoft.AspNetCore.StaticWebAssets.props
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.AssemblyInfo.cs
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.AssemblyInfoInputs.cache
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.dll
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.pdb
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.sourcelink.json
StudentControlWebApp/bin/Debug/net8.0/StudentControlWebApp.dll
StudentControlWebApp/bin/Debug/net8.0/StudentControlWebApp.pdb
StudentControlWebApp/obj/Debug/net8.0/ref/StudentControlWebApp.dll
StudentControlWebApp/obj/Debug/net8.0/refint/StudentControlWebApp.dll
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.AssemblyInfo.cs
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.AssemblyInfoInputs.cache
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.dll
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.pdb
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.sourcelink.json
