
/StudentControlWebApp/bin/Debug
/StudentControlWebApp/obj
/StudentControlWebApp/bin
StudentControlWebApp/StudentControl.session.sql
StudentControlWebApp/obj/StudentControlWebApp.csproj.nuget.g.targets
/StudentControlWebApp/bin/Debug
/StudentControlWebApp/bin/Debug
/StudentControlWebApp/bin/Debug
/StudentControlWebApp/bin/Debug
/StudentControlWebApp/obj/Debug
StudentControlWebApp/obj/Debug/net8.0/project.razor.vscode.bin
StudentControlWebApp/obj/Debug/net8.0/ref/StudentControlWebApp.dll
StudentControlWebApp/obj/Debug/net8.0/refint/StudentControlWebApp.dll
StudentControlWebApp/obj/Debug/net8.0/staticwebassets.build.json
StudentControlWebApp/obj/Debug/net8.0/staticwebassets.development.json
StudentControlWebApp/obj/Debug/net8.0/staticwebassets.pack.json
StudentControlWebApp/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.StudentControlWebApp.props
StudentControlWebApp/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.StudentControlWebApp.props
StudentControlWebApp/obj/Debug/net8.0/staticwebassets/msbuild.StudentControlWebApp.Microsoft.AspNetCore.StaticWebAssets.props
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.AssemblyInfo.cs
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.AssemblyInfoInputs.cache
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.assets.cache
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.csproj.AssemblyReference.cache
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.csproj.CoreCompileInputs.cache
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.csproj.FileListAbsolute.txt
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.dll
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.GeneratedMSBuildEditorConfig.editorconfig
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.genruntimeconfig.cache
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.pdb
StudentControlWebApp/obj/Debug/net8.0/StudentControlWebApp.sourcelink.json
StudentControlWebApp/obj/project.assets.json
StudentControlWebApp/obj/project.nuget.cache
StudentControlWebApp/obj/StudentControlWebApp.csproj.nuget.dgspec.json
StudentControlWebApp/obj/StudentControlWebApp.csproj.nuget.g.props
StudentControlWebApp/obj/StudentControlWebApp.csproj.nuget.g.targets
StudentControlWebApp/obj/Debug/net8.0/project.razor.vscode.bin
StudentControlWebApp/obj/Debug/net8.0/project.razor.vscode.bin
