@page
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="table" class="table">
    <thead>
        <tr>
            <th data-field="Id">Id</th>
            <th data-field="Description">Cinturón</th>
        </tr>
    </thead>
</table>

